@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;

}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* flex child properties */

.flex-2 {
  flex: 0.7;
}

.flex-1 {
  flex: 0.3;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 2.1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-logo {
  height: 80%;
 
  margin-top: 6px;
}

*:focus {
  outline: none;
}

.search-box {
  position: absolute;
  left: 40%;
  transform: translateY(10%);
  width: 200px;
  height: 29px;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: #0c0c0c;
  text-align: center;
  text-transform: capitalize;
}

.search-box::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.nav-items {
  background-color: #fff;
  width: 100%;
  padding: 1em;
}

.icons {
  max-width: 24px;
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.user-profiles {
  width: 22px;
  border-radius: 50%;
  /* background-image: url(); */
  background: linear-gradient(red, pink, blue);
}

.main {
  width: 100%;
  padding: 5rem 0px 0rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col {
  width: 100%;
}

.status-wrapper {
  width: 63%;
  height: 120px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 2px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
  display: none;
}

.status-card {
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  cursor: grab;
  align-items: center;
  margin-right: 16px;
  
}

.profile-pic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 60%);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.username {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.post {
  width: 90%;
  height: 900px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 4px;
}

.info {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: black;
  font-size: 14px;
  margin-left: 10px;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}
.info.profile-pic {
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}
.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
  margin: 5px;
}
.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 14px;
}
.commentBtn,
.action-btn {
  width: 70px;
  height: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  outline: none;
  color: rgba(0, 162, 255);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
}
.reaction {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}
.reaction .icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}
.reaction .icon.save {
  margin-left: auto;
}

/* section 1 : left column finshed */

/* section 2: right column started */

.right-col {
  padding: 20px;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 50px;
}

.profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.profile-card:first-child .profile-pic {
  width: 70px;
  height: 70px;
}
.profile-card .profile-pic img {
  border: none;
}
.profile-card .username {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.sub-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 600;
}
.action-btn {
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}
.suggestion-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin: 20px 0;
}

/* media queries */

@media (max-width: 960px) {
  .flex-1,
  .flex-2 {
    flex: 1;
  }
  .flex-2 {
    max-width: 640px;
    margin: 0 auto;
  }
  .fluid {
    flex-direction: column;
  }
  .search-box {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav-items .icons {
    margin: 0 5px;
  }
  .post-image {
    height: 300px;
  }
}